<?xml version="1.0"?>
<config>
  <modules>
    <Medma_Job>
      <version>0.1.1</version>
    </Medma_Job>
  </modules>
  <frontend>
    <routers>
      <job>
        <use>standard</use>
          <args>
            <module>Medma_Job</module>
            <frontName>job</frontName>
          </args>
      </job>
    </routers>
		<layout>
		  <updates>
			<job>
			  <file>job.xml</file>
			</job>
		  </updates>
		</layout>
  </frontend>
  <global>
  	<events>
		<medma_domain_authentication>
			<observers>
				<medma_job_observer>
					<class>Medma_Job_Model_Authenticate</class>
					<method>saveDomain</method>
				</medma_job_observer>
			</observers>
		</medma_domain_authentication>
	</events>
    <helpers>
      <job>
        <class>Medma_Job_Helper</class>
      </job>
    </helpers>
	<blocks>
	  <job>
		<class>Medma_Job_Block</class>
	  </job>
	</blocks>
	<models>
	  <job>
		<class>Medma_Job_Model</class>
		<resourceModel>job_mysql4</resourceModel>
	  </job>
	  <job_mysql4>
		<class>Medma_Job_Model_Mysql4</class>
		<entities>		  
			  <jobmanagement>
				<table>job_manager</table>
			  </jobmanagement>
        </entities>
	  </job_mysql4>
	</models>
	<resources>
	  <job_setup>
		<setup>
		  <module>Medma_Job</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </job_setup>
	  <job_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </job_write>
	  <job_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </job_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <job>
	    <use>admin</use>
		<args>
		  <module>Medma_Job</module>
		  <frontName>job</frontName>
		</args>
	  </job>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <job module="job">
		<title>Job</title>
		<sort_order>100</sort_order>
		<children>
		  <jobbackend module="job">
			<title>Job Management</title>
			<sort_order>0</sort_order>
			<action>job/adminhtml_jobbackend</action>
		  </jobbackend>
		</children>
	  </job>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<job translate="title" module="job">
			  <title>Job</title>
			  <sort_order>1000</sort_order>
			  <children>
				  <jobbackend translate="title">
					<title>Job Management</title>
				  </jobbackend>
			  </children>
			</job>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<job>
		  <file>job.xml</file>
		</job>
	  </updates>
	</layout>
  </adminhtml>
</config> 
